body{
	margin:0;
	background-color:#232323;
}

#container{
	margin:0 auto;
	max-width: 600px;
}

h1, P{
	margin:0;
	color:white;
	text-align: center;
	line-height: 1.5;
}

.head{
	
	margin:0;
	padding:20px 0;
	background-color: steelblue;
	text-transform: uppercase;

}

.square{
	width:30%;
	padding-bottom: 30%;
	background-color: purple;
	margin:1.5%;
	float:left;
	transition:all 0.4s;
	border-radius: 15%;
}


#question{
	font-size: 5ex;
	text-transform: uppercase;
}

button{
	outline: none;
	background: none;
	border: none;
	height:100%;
	color: steelblue;
	font-size: inherit;
	font-weight: bold;
	transtion: all 0.4s;
}

#message{
	color: steelblue;
	display: inline-block;
	width: 20%;
	font-size: inherit;
	transtion: all 0.4s;
}

.btn{
	height:30px;
	text-align: center;
	margin:0 auto;
	background-color: white; 
}

button:hover{
	background-color: steelblue;
	color: white;
}

.active{
	background: steelblue;
	color: white;
}

.shape{
	border-radius: 50%;
}